/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.65;
  font-size: 1.2rem;
  color: #393d41;
}
header {
  text-align: center;
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
header img {
  width: 40%;
}
